{% extends "base.html" %}
{% block content %}

<center>

  <div class="jumbotron">
    <h1 class="display-4">{{ movie[1] }}</h1>
    <p class="lead"><strong>Directed by:</strong> {{ movie[7] }}</p>
    <p><strong>Released:</strong> {{ movie[5] }}</p>

    <hr class="my-4">

    <p>{{ movie[2] }}</p>  <!-- Movie description / summary -->

    <!-- Add to collection button -->
    <a href="{{ url_for('add', id=movie[0]) }}">
      <button style="margin-top:10px;">Add to Collection</button>
    </a>

    <!-- Link back to all movies -->
    <a href="{{ url_for('all_movies') }}">
      <button style="margin-top:10px;">Back to All Movies</button>
    </a>
  </div>

</center>

{% endblock %}
