/* this main-content will affect everything inside your template - for example if you want to change the page background! */
.main-content {
    /* margin adds an empty border around content - you can adjust or remove this as needed. */
    margin: 3%;
}


table {
	width: 90%;
	background-color: #ffffff;
}

th{
	/* this controls the colour and font size of the header row - change as needed */
	font-size: large;
	background-color: #000000;
	color:#FFF;
}

tr:hover {
	/* this controls the colour which a row goes when you mouse-over it - change as needed. */
	background-color: rgb(245, 179, 155);
}

#menu {
    /* if you want your navbar a different colour, change 'background' here to whatever value you prefer */
	background: #9B6A6C;
	color: #FFF;
	height: 47px;
	padding-left: 18px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 47px;
	padding: 0 14px;
	text-decoration: none;
	color: #000000;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\002B";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 47px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 47px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}

#menu li.logins {
    float: right;
}

@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
